*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(183, 201, 82);
}
label{
  font-family:cursive;
}

#root{
  padding: 15px;
  background-color: rgb(135, 205, 208);border-radius: 10px;
  text-align: center;
 box-shadow: 5px 5px 8px 8px;
}
h2{
  margin-top: 10px;
  margin-bottom: 22px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(53, 77, 28);
}
h1{
  font-weight: 600;
  text-decoration: underline;
}
.container{
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
 gap: 8px;
}
.btn{
  padding: 5px;
  font-size: 15px;
  border-radius: 7px;
  background-color: rgb(4, 4, 4);
  color: #ffffff;
  width: 70%;
}
.btn:hover{
  background-color: chocolate;
}

.generate{
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
.box{
  display: flex;
   gap: 5px;
  
}


